:root {
  /* User Defined */

  --text-color-h: 0;
  --text-color-s: 0%;
  --text-color-l: 0%;

  --accent-color-h: 232;
  --accent-color-s: 64%;
  --accent-color-l: 54%;

  --card-color-h: 210;
  --card-color-s: 13%;
  --card-color-l: 99%;

  --drawer-color-h: 0;
  --drawer-color-s: 0%;
  --drawer-color-l: 0%;

  --drawer-text-color-h: 0;
  --drawer-text-color-s: 0%;
  --drawer-text-color-l: 100%;

  --focus-color-a: 20%;
  --radius: 14px;
  --animation-speed: 300ms;
  --regular-font-weight: 400;
  --bold-font-weight: 600;
  --base-font-size: 10px;

  /* Computed */

  --primary-text-a: 88%;
  --secondary-text-a: 50%;
  --divider-a: 10%;
  --default-a: 100%;

  --app-bg-color: hsla(0, 0%, 0%, 100%);
  --primary-text-color: hsla(
    var(--text-color-h),
    var(--text-color-s),
    var(--text-color-l),
    var(--primary-text-a)
  );
  --secondary-text-color: hsla(
    var(--text-color-h),
    var(--text-color-s),
    var(--text-color-l),
    var(--secondary-text-a)
  );
  --divider-color: hsla(
    var(--text-color-h),
    var(--text-color-s),
    var(--text-color-l),
    var(--divider-a)
  );
  --accent-color: hsla(
    var(--accent-color-h),
    var(--accent-color-s),
    var(--accent-color-l),
    var(--default-a)
  );
  --focus-color: hsla(
    var(--accent-color-h),
    var(--accent-color-s),
    var(--accent-color-l),
    var(--focus-color-a)
  );
  --card-primary-color: hsla(
    var(--card-color-h),
    var(--card-color-s),
    var(--card-color-l),
    var(--default-a)
  );
  --card-secondary-color: hsla(
    var(--card-color-h),
    var(--card-color-s),
    var(--card-color-l),
    var(--default-a)
  );
  --card-tertiary-color: hsla(
    var(--card-color-h),
    var(--card-color-s),
    calc(var(--card-color-l) - 7%),
    var(--default-a)
  );
  --card-border-color: hsla(0, 0%, 100%, 20%);
  --drawer-bg-color: hsla(
    var(--drawer-color-h),
    var(--drawer-color-s),
    var(--drawer-color-l),
    var(--default-a)
  );
  --drawer-primary-text-color: hsla(
    var(--drawer-text-color-h),
    var(--drawer-text-color-s),
    var(--drawer-text-color-l),
    var(--primary-text-a)
  );
  --drawer-secondary-text-color: hsla(
    var(--drawer-text-color-h),
    var(--drawer-text-color-s),
    var(--drawer-text-color-l),
    var(--secondary-text-a)
  );
  --drawer-divider-color: hsla(
    var(--drawer-text-color-h),
    var(--drawer-text-color-s),
    var(--drawer-text-color-l),
    var(--divider-a)
  );
  --drawer-focus-color: hsla(
    var(--accent-color-h),
    var(--accent-color-s),
    var(--accent-color-l),
    var(--drawer-focus-color-a)
  );

  font-size: var(--base-font-size);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--drawer-bg-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: var(--regular-font-weight);
  color: var(--drawer-primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  font-size: 1.4rem;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

::-webkit-scrollbar {
  display: none;
}
